.container {
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.container img {
	max-width: 100%;
}

.card {
	width: 31%;
	border: solid 1px rgb(65, 52, 52);
	margin-top: 10px;
	background-color: bisque;
}

@media screen and (max-width: 760px) {
	.card {
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
}

.icon {
	width: 25px;
	height: 25px;
}

.card_body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
